BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: true
ContinuationIndentWidth: 4
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlignTrailingComments: true
ColumnLimit: 0
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
PointerAlignment: Left
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyReturnTypeOnItsOwnLine: 1000
SpaceBeforeAssignmentOperators: false
SpacesInContainerLiterals: false